header{
    background-color: gold;
}
div{
    background-color: tomato;
    padding: 10px;
    margin-bottom: 10px;

}
.gif{
    width: 20px;
    height: 20px;;
    ;
}
img{
    width: 700px;
    height: 400px;;
    ;
}